/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: #f9fbfd;
}

.box {
  width: 60%;
  margin-top: 12vh;
  padding-bottom: 25px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

form {
  width: 70%;
}

.todos {
  width: 55%;
}

input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-check-label {
  word-break: break-all;
}

.nav-link {
  color: rgba(0, 0, 0, 0.605);
  font-weight: 500;
  font-size: 0.9rem !important;
}

.nav-link.active {
  color: blue !important;
  font-weight: 600;
}

hr {
  opacity: .80 !important;
}

/* .todo-input button {
  width: 100%;
} */
@media screen and (max-width: 992px) {
  .box {
    width: 85%
  }

  .todos {
    width: 80%;
  }

  .nav-link {
    font-size: 0.6rem !important;
  }

  label, .faPen, .faTrash {
    font-size: 0.8rem !important;
  }

  input[type="checkbox"] {
    font-size: 0.9rem !important;
  }
}